@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Zebra row styling for tables */
.zebra-row:nth-child(even) {
    background-color: rgba(59, 66, 81, 0.3);
}

.zebra-row:nth-child(odd) {
    background-color: rgba(59, 66, 81, 0.1);
}
